$font-size: 0.8rem;

$height: 1.8rem;
$padding--x: .5rem;

$border-rad--std: .15rem;
$border-rad--pill: $height/2;
$border--width: .1rem;

$opacity--disabled: 0.45;
$opacity-accent: 0.75;
$opacity-accent--hover: .88;
$opacity-accent--active: 1.0;
$opacity--quiet: .2;
$opacity--quiet--hover: .45;
$opacity--quiet--active: .65;
$opacity-border: .7;

