/////////////
// colours //
/////////////
$cinnabar: 239, 62, 54;
$brick-red: 206, 66, 87;
$maximum-yellow-red: 239, 184, 76;
$maximum-blue-green: 23, 190, 187;
$india-green: 62, 137, 20;
// $tickle-me-pink: #FF82A9;
$tickle-me-pink: 255,130,169;
$eerie-black: 35, 35, 35;
$sap-green: 63, 125, 32;
$true-blue: 68, 100, 173;
$terra-cotta: 237, 106, 90;

$languid-lavender: 219, 210, 224;
$buff: 239, 210, 141;
$pale-pink: 250, 216, 214;
$kelly-green: 41, 191, 18; 
$paradise-pink: 238, 66, 102;
$red-orange-color-wheel: 244, 71, 8;


///////////////////////
// color assignments //
///////////////////////
$color-primary: 3,252,132;
$color-secondary: $tickle-me-pink;
$color-danger: $brick-red;
$color-warning: $maximum-yellow-red;
$color-success: $india-green;
$color-disabled: 125,125,125,.45;